@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #FBF4E2;
  --secondary-color: #463c74;
  --green-color: #b4d51e;
  --orange-color: #ffc735;
  --black-color: #1a1a1a;
  
}
html,
body{
  font-family: "Poppins", sans-serif;
}

a{
  color: inherit;
  text-decoration: none;
}

*{
  box-sizing: border-box;
}

.button-bg-secondary{
  background-color: var(--green-color);
}

.search-area{
  background: #FAFAFA;
  width: 500px;
  padding: 5px 120px 5px 16px;
  border-radius: 16px;
}

.search-button{
  margin-left: -35px;
}

.hero{
  background: url('../../public/hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.hero h1{
  margin-bottom: 10px;
  color:  var(--secondary-color);
  font-size: 48px;
  font-weight: 700;
  width: 500px;
}

.hero p{
  font-size: 18px;
  font-weight: 500;
}

.button-cta{
  background-color: var(--green-color);
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
}