@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #FBF4E2;
  --secondary-color: #463c74;
  --green-color: #b4d51e;
  --orange-color: #ffc735;
  --black-color: #1a1a1a;
  
}

body{
  font-family: "Poppins", sans-serif;
}
